body{
	text-align: center;
}
.table{
	background-color: #FF00FF;
	border-width: 2px;
	border-color: rgb(100,110,0);
	border-style: solid;
	margin: auto;
	width: 500px;
	padding: 10px;
	
}
.tds{
	background-color: #00FF00;	
	width: 50px;
	margin:auto;
	height: 50px;
	text-align: center;
	float: left;
	display:table-cell;
}
.refresh{
	background-color: #FF0000;	
	text-align: center;
}
